<template name="header">
    <header class="navbar navbar-default">
        <div class="navbar-header">

            <a class="brand" href="{{pathFor 'home'}}">Microscope</a>
            <a class="brand" href="{{pathFor 'users'}}">Users</a>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav">

                    <li class="{{activeRouteClass 'home' 'newPosts'}}">
                        <a href="{{pathFor 'newPosts'}}">New</a>
                    </li>
                    <li class="{{activeRouteClass 'bestPosts'}}">
                        <a href="{{pathFor 'bestPosts'}}">Best</a>
                    </li>

                    {{#if currentUser}}
                        <li class="dropdown">
                            {{> notifications}}
                        </li>
                    {{/if}}
                </ul>
            </div>

            {{>currentUserManage}}

        </div>
    </header>
</template>